<section class='bio'>
  <h1>{{ site.profile.name }}</h1>
  {{ site.profile.bio }}

  {% if site.profile.photo %}
    <div class="profile-pic">
      <img src="{{ site.profile.photo.medium.url }}"
          width="{{ site.profile.photo.medium.width }}"
          height="{{ site.profile.photo.medium.height }}">
    </div>
  {% endif %}
</section>
