<!DOCTYPE html>
<html class='no-js'>
  <head>
    <title>{{ request.page_title }}</title>

    <meta content='width=device-width,initial-scale=1' name='viewport'>

    {{ meta_tags }}

    <link href="{{ 'images/favicon.ico' | asset_url }}" rel='shortcut icon' type='image/x-icon'>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- {{ 'blog.css' | asset_url | stylesheet_tag }} -->

    {{ 'tufte.css' | asset_url | stylesheet_tag }}

    {{ posthaven.includes_for_head }}
  </head>

  <body class='site-{{ site.id }}'>
    <article>
      <h1>
        {{ site.name | smarty_pants }}
      </h1>
      
      <main>
          {{ content_for_layout }}
      </main>
    </article>

    <footer>
      {% include 'nav_menu' %}

      {% form 'archive' %}

      {% if site.subscription_enabled? %}
            {% form 'subscribe' include_prompt:true %}

            <a href="{{ site.feed_url }}">Subscribe to the feed</a>
      {% endif %}
    </footer>

    {{ posthaven.includes_for_body }}
  </body>
</html>
