<!DOCTYPE html>
<html class='no-js'>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63851501-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-63851501-2');
    </script>

    <title>{{ request.page_title }}</title>

    <meta content='width=device-width,initial-scale=1' name='viewport'>

    <meta name="google-site-verification" content="-Vo1uOIjzn9ZIGPtzTo1kEJN8DLse4pnj_xhWnNXGew" />

    {{ meta_tags }}

    <link href="{{ 'images/favicon.ico' | asset_url }}" rel='shortcut icon' type='image/x-icon'>

    {{ 'blog.css' | asset_url | stylesheet_tag }}

    {{ 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' | stylesheet_tag }}

    {{ posthaven.includes_for_head }}
  </head>

  <body id='site_{{ site.id }}'>

    {% assign show_back_to_blog = false %}

    <div id='container'>
      {% unless hide_header %}
        <header id='header'>
          <h1>
            {{ post.title }}
          </h1>

          {% if site.description %}
            <h2>{{ site.description | smarty_pants }}</h2>
          {% endif %}

          {% if subhead_content %}
            <section class="subhead">
              {{ subhead_content }}

              <div class="back-to-blog">
                <a href="{{ site.url }}">&laquo;&nbsp;Back to blog</a>
              </div>
            </section>
          {% elsif show_back_to_blog %}
            <div class="back-to-blog">
              <a href="{{ site.url }}">&laquo;&nbsp;Back to blog</a>
            </div>
          {% endif %}
        </header>
      {% endunless %}

      <div id='main_container'>
        {{ content_for_layout }}
      </div>
    </div>

    {{ posthaven.includes_for_body }}
  </body>
</html>
